@import url('https://fonts.cdnfonts.com/css/gotham');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* React PDF styles */
.react-pdf__Page {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.react-pdf__Page__canvas {
  max-width: 100%;
  height: auto !important;
}

.react-pdf__Document {
  display: flex;
  flex-direction: column;
  align-items: center;
}
